<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QNAPFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>QNAPFrameworkBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>QNAPFrameworkDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CA5F16F17D4942F00183046</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CA5F18017D4942F00183046</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A322817517D6604A00017366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A32281A717D6658900017366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
